@use "variables" as *;

.about {
  width: 100%;
  @include flexboxCenter(column);
  h3 {
    font-size: 35px;
    letter-spacing: 2px;
  }
  .container {
    @include flexboxCenter(column);
    .btnContainer {
      @include flexboxCenter(row);
      button {
        margin-top: 30px;
      }
    }
    .headshot {
      width: 90%;
      max-width: 370px;
    }
    .background {
      display: none;
    }
    .text {
      width: 90%;
      margin: 15px 0px;
      // background-color: $tv-white;
      // z-index: 1;
      // box-shadow: rgb(0 0 0 / 40%) 0px 12px 12px 0px;
    }
  }
}

@include tablet {
  .about {
    .container {
      flex-direction: row;
      justify-content: flex-end;
      width: 100%;
      margin: 15px;
      position: relative;
      padding-right: 15px;
      max-width: 934px;
      .background {
        display: block;
        width: 400px;
        position: absolute;
        opacity: 0.7;
        z-index: -1;
        right: 200px;
      }
      .headshot {
        z-index: 1;
      }
      .text {
        background-color: $tv-white;
        z-index: 2;
        box-shadow: rgb(0 0 0 / 40%) 0px 12px 12px 0px;
        position: absolute;
        width: 68%;
        min-width: 523px;
        max-width: 588px;
        padding: 10px 15px;
        left: 5%;
        transform: translateX(5%);
        bottom: 5%;
      }
    }
  }
}
@include desktop {
  .about {
    .container {
      max-width: 1100px;
      padding: 0px 40px;
      .headshot {
        min-width: 450px;
        max-width: 470px;
        width: 37%;
      }
      .background {
        width: 630px;
      }
      .text {
        left: 20%;
        transform: translate(-20%);
        max-width: 650px;
        bottom: 1%;
        button {
          padding: 6px 12px;
          font-size: 18px;
        }
        h3 {
          font-size: 50px;
        }
        p {
          font-size: 19px;
          letter-spacing: 1px;
          line-height: 28px;
        }
      }
    }
  }
}
