@use "variables" as *;

.mediaCard {
  h2 {
    display: none;
  }
  .backgroundImg {
    display: none;
  }
  .rightContainer {
    width: 100%;
    @include flexboxCenter(column);
    h1 {
      margin-bottom: 20px;
    }
    .headshot {
      width: 200px;
      box-shadow: -40px -16px $light-color;
      margin-left: 20px;
    }
    .textCtn {
      p {
        margin: 10px 0px;
        padding: 10px;
      }
      .socials {
        width: 100%;
        @include flexboxCenter(row);
        svg {
          width: 30px;
          margin: 5px 10px;
        }
      }
    }
  }
}
@include tablet {
  .mediaCard {
    h1 {
      display: none;
    }
    h2 {
      display: block;
      font-size: 40px;
    }
    .rightContainer {
      @include flexAround;
      flex-direction: row;
      padding: 10px 20px;
      .textCtn {
        padding: 10px;
        margin-left: 20px;
        font-size: 16px;
        .socials {
          justify-content: flex-start;
        }
      }
    }
  }
}
@include desktop {
  .mediaCard {
    display: flex;
    max-width: 1200px;
    position: relative;
    .backgroundImg {
      display: block;
      width: 440px;
    }
    .rightContainer {
      flex-direction: column;
      justify-content: space-between;
      align-items: flex-end;
      h1 {
        display: block;
        width: 100%;
        font-size: 45px;
        text-align: center;
        letter-spacing: 4px;
        margin-top: 20px;
        margin-left: 10px;
      }
      .headshot {
        box-shadow: none;
        border: 5px solid white;
        position: absolute;
        width: 370px;
        left: 277px;
        bottom: 0px;
        margin-bottom: 60px;
      }
      //Headshot and text ctn need to have same height and bottom border
      .textCtn {
        @include flexboxCenter(column);
        width: 70%;
        height: 370px;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        margin-bottom: 60px;
        h2 {
          display: none;
        }
        p {
          font-size: 18px;
          margin: 0px;
        }
        .socials {
          width: 100%;
          justify-content: center;
          margin-top: 20px;
          svg {
            width: 50px;
            margin: 5px 15px;
          }
        }
      }
    }
  }
}
