@use "variables" as *;

.mediaCard {
  h2 {
    display: none;
  }
  .backgroundImg {
    display: none;
  }
  .rightContainer {
    width: 100%;
    @include flexboxCenter(column);
    h1 {
      margin-bottom: 20px;
    }
    .headshot {
      width: 200px;
      box-shadow: -40px -16px $light-color;
      margin-left: 20px;
    }
    .textCtn {
      p {
        margin: 10px 0px;
        padding: 10px;
      }
      .socials {
        width: 100%;
        @include flexboxCenter(row);
        svg {
          width: 30px;
          margin: 5px 10px;
        }
      }
    }
  }
}
@include tablet {
  .mediaCard {
    h1 {
      display: none;
    }
    h2 {
      display: block;
    }
    .rightContainer {
      @include flexAround;
      flex-direction: row;
      padding: 10px 20px;
      .textCtn {
        padding: 10px;
        margin-left: 20px;
        .socials {
          justify-content: flex-start;
        }
      }
    }
  }
}
