@use "variables" as *;
.featured {
  width: 100%;
  padding: 10px;
  margin-bottom: 50px;
  h3 {
    font-size: 35px;
    text-align: center;
  }
  .container {
    @include row(center);
    padding: 30px 0px;
    .card {
      @include card(300px);
      margin: 0px;
      background-color: white;
      margin: 10px;
    }
  }
}
