@use "variables" as *;

.footer {
  background: black;
  width: 100%;
  padding: 10px;
  @include flexboxCenter(column);
  p {
    color: white;
    margin: 10px;
  }
  .socials {
    padding: 10px;
    width: 150px;
    display: flex;
    justify-content: space-around;
    svg {
      color: white;
      width: 20px;
      margin: 0 5px;
    }
  }
}
