@use "variables" as *;

.intro {
  width: 100%;
  margin-top: 0px;
  @include flexboxCenter(column);
  .collage {
    min-height: 480px;
    width: 100vw;
    position: relative;
    max-width: 472px;
    img {
      border: 2px solid white;
    }
    img:nth-child(1) {
      border: none;
      min-width: 300px;
      width: 80%;
      max-width: 360px;
      opacity: 0.75;
      position: absolute;
      left: 0%;
      z-index: 1;
    }
    img:nth-child(2) {
      display: none;
    }
    img:nth-child(3) {
      width: 59%;
      max-width: 242px;
      min-width: 222px;
      position: absolute;
      right: 0%;
      top: 47%;
      transform: translateY(-47%);
      z-index: 3;
    }
  }
  .textCtn {
    font-size: 23px;
    padding: 0px 10px;
    margin-top: 10px;
    hr {
      padding: 0px;
      border: 1px solid #97877c;
      width: 100%;
    }
    h2 {
      font-size: 40px;
      letter-spacing: 3px;
    }
    p {
      letter-spacing: 1px;
      margin: 30px 0px;
      color: #444444;
    }
  }
}

@include tablet {
  .intro {
    margin-top: 10px;
    .collage {
      min-height: 815px;
      max-width: 837px;
      img:nth-child(1) {
        max-width: 620px;
        z-index: -1;
        left: 50%;
        transform: translateX(-50%);
      }
      img:nth-child(2) {
        display: block;
        position: absolute;
        opacity: 0.8;
        width: 60%;
        left: 0%;
        bottom: 10%;
        z-index: 2;
      }
      img:nth-child(3) {
        width: 47%;
        max-width: 400px;
        right: 0%;
        top: 21%;
        transform: translateY(-21%);
      }
    }
    .textCtn {
      margin-top: 15px;
      max-width: 400px;
      p {
        letter-spacing: 3px;
        font-size: 18px;
        line-height: 29px;
      }
    }
  }
}
@include desktop {
  .intro {
    position: relative;
    max-width: 1300px;
    margin: auto;
    .collage {
      min-height: 975px;
      max-width: 1300px;
      position: relative;
      img:nth-child(1) {
        width: 56%;
        max-width: 800px;
        left: 0%;
        transform: translateY(0%);
      }
      img:nth-child(2) {
        max-width: 580px;
        top: 5%;
        left: 85%;
        transform: translateX(-85%);
      }
      img:nth-child(3) {
        width: 60%;
        max-width: 430px;
        left: 29%;
        transform: translateX(-40%);
        top: 50%;
        transform: translateY(-28%);
      }
    }
    .textCtn {
      font-size: 27px;
      position: absolute;
      right: 4%;
      bottom: 16%;
      p {
        letter-spacing: 3px;
      }
    }
  }
}
