@use "variables" as *;
@include phone {
  .container {
    background-color: pink;
  }
  .main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 1400px;
    margin-top: 10px;
  }
}
// @include tablet {
//   .container {
//     background-color: red;
//   }
//   .main {
//     margin-top: 20px;
//   }
// }
// @include desktop {
//   .container {
//     background-color: aqua;
//   }
//   .main {
//     margin-top: 35px;
//     max-width: 1400px;
//   }
// }

.container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
