@use "variables" as *;
.nav {
  width: 100%;
  min-height: 10vh;
  display: flex;
  margin: auto;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  padding: 30px;
  top: 0;
  z-index: 10;
  opacity: 0.95;
  background-color: $dark-color;
  color: white;
  box-shadow: 0 2px 5px 0 rgb(0 0 0 / 16%), 0 2px 10px 0 rgb(0 0 0 / 12%);
  .toggle {
    border: none;
    svg {
      color: white;
      width: 24px;
    }
  }
  .navlinks {
    width: 100%;
    display: none;
    ul {
      list-style: none;
      width: 100%;
    }
    li {
      font-family: $title-font;
      font-size: 20px;
      letter-spacing: 2px;
    }
  }
  .logo {
    cursor: pointer;
    p {
      font-family: $title-font;
      font-size: 25px;
      letter-spacing: 6px;
    }
  }
}
@include tablet {
  .nav {
    .toggle {
      display: none;
    }
    .navlinks {
      display: block;
      width: 50%;
      max-width: 540px;
      ul {
        padding-right: 20px;
        width: 100%;
        display: flex;
        justify-content: space-around;
      }
      li {
        padding: 0px 30px;
        font-family: $title-font;
        font-size: 16px;
        letter-spacing: 2pxs;
      }
      li:nth-child(2) {
        border-left: 2px solid $tv-white;
        border-right: 2px solid $tv-white;
      }
    }
  }
}
