@use "variables" as *;

.container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding-bottom: 70px;
  .categories {
    min-width: 1000px;
    padding: 20px 40px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    button {
      margin: 0px 5px;
    }
  }
  .row {
    @include row(space-around);
    width: 100%;
  }
  .card {
    @include card(300px);
    .description {
      min-height: 175px;
    }
  }
}
