@use "variables" as *;

.header {
  padding: 0px 15px;
  @include flexboxCenter(column);
  p {
    width: 100%;
  }
}
.container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 70px;
  .categories {
    padding: 20px 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    button {
      margin: 0px 5px;
    }
  }
  .cardCtn {
    @include flexboxStart();
    width: 100%;
    flex-wrap: wrap;
    max-width: 1200px;
  }
  .card {
    .image {
      min-height: 225px;
    }
    @include card(300px);
    margin: 10px;
    .description {
      min-height: 230px;
      @include flexboxCenter(column);
    }
  }
}

@include tablet {
  .header {
    padding: 20px;
    p {
      width: 60%;
      letter-spacing: 1px;
    }
  }
}
