@use "variables" as *;

.recommendations {
  h2 {
    font-size: 40px;
    letter-spacing: 4px;
    text-align: center;
    margin-bottom: 20px;
  }
  hr {
    width: 80%;
    margin: auto;
  }
  .container {
    .tile {
      @include flexboxCenter(column);
      padding: 20px 10px;
      img {
        border-radius: 50%;
      }
      div {
        @include flexboxCenter(column);
        padding: 20px;
        align-items: flex-start;
        p {
          font-size: 17px;
        }
      }
    }
  }
}

@include tablet {
  .recommendations {
    h2 {
      margin-bottom: none;
      text-align: left;
      margin-left: 15px;
      font-size: 40px;
    }
    //for alternating tiles
    .container {
      div.tile:nth-child(odd) {
        @include flexboxCenter(row-reverse);
      }
      div.tile:nth-child(even) {
        @include flexboxCenter(row);
      }
      .tile {
        padding: 10px 30px;
        margin: 30px 0px;
        div {
          @include flexboxCenter(column);
          padding: 30px;
          align-items: flex-start;
          p {
            font-size: 16px;
          }
        }
      }
    }
  }
}
@include desktop {
  .recommendations {
    h2 {
      font-size: 45px;
    }
    .container {
      .tile {
        div {
          max-width: 800px;
          p {
            font-size: 22px;
          }
        }
      }
    }
  }
}
