//media queries
@mixin phone {
  @media (max-width: 414px) {
    @content;
  }
}
@mixin tablet {
  @media (min-width: 768px) {
    @content;
  }
}
@mixin desktop {
  @media (min-width: 1240px) {
    @content;
  }
}

//color palette
$main-color: #948e88;
$dark-color: #41552a;
$light-color: #889194;
$tv-white: #f2f2f2;
//fonts
$text-font: "Roboto", sans-serif;
$title-font: "Bodoni Moda", serif;
//flexbox mixins
@mixin flexboxCenter($direction) {
  display: flex;
  flex-direction: $direction;
  align-items: center;
  justify-content: center;
}
@mixin flexboxJust {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@mixin flexAround {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
//Row
@mixin row($spacing) {
  display: flex;
  justify-content: $spacing;
  align-items: center;
  padding: 10px;
}
//card
@mixin card($width) {
  @include flexboxCenter(column);
  width: $width;
  margin: 20px;
  box-shadow: rgb(0 0 0 / 40%) 0px 12px 12px 0px;
  .image {
    width: 100%;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    img {
      max-width: 100%;
    }
  }
  .description {
    width: 100%;
    padding: 10px;
    background-color: $tv-white;
    .invisible {
      display: none;
    }
  }
}
